*.iml
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
classes/
tmp/
project.properties
.DS_Store
.settings
build/
.gradle
android-json-form-wizard/jacoco.exec
caches/
daemon/
native/
wrapper/